@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
}

#head {
	 height:130px;
     width:75%;
     float:right;
     background:#0edd99;
     position:absolute; 
     margin-left:360px;
}

#sidebar {
     height:830px; 
     width:25%;
     float:left;
     background:#000000;
     position:absolute;
}

#central {

}

body {
    background:white;
}