@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
html * {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    cursor: default;
}

body {
    font-family: 'Montserrat';
    color: #b1b1b1;
}

a {
    color: #b1b1b1;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type='checkbox'].toggle {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 35px;
    height: 14px;
    background-color: #fafafa;
    position: relative;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    box-shadow: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[type='checkbox'].toggle:hover:after {
    background-color: #c7c7c7;
}

input[type='checkbox'].toggle:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #aeaeae;
    top: 1.5px;
    left: 1.5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[type='checkbox']:checked.toggle {
    -moz-box-shadow: inset 0 0 0 15px #158EC6;
    -webkit-box-shadow: inset 0 0 0 15px #158EC6;
    box-shadow: inset 0 0 0 15px #158EC6;
}

input[type='checkbox']:checked.toggle:after {
    left: 21px;
    background-color: #fff;
}

.filter span {
    margin: 8%;
    padding-right: 12%;
}

.filter input {
    margin-right: 15%;
    margin-top: 5%;
}

.a {
    font-family: 'Open Sans', sans-serif;
    ;
    margin: 5px;
    display: table;
    width: 50px;
    height: 50px;
    background: linear-gradient(to left, #006064, #212121);
    border-radius: 25px 0px 25px 0px;
    text-align: center;
}

.a span {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    display: table-cell;
    vertical-align: middle;
}

#header {
    position: absolute;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 113, 122, 0.9), rgba(0, 0, 10, 0.8)), url(http://pontosdevista.pt/static/uploads/2015/11/media-wall-1600x700_c.jpg);
    background-size: cover;
    position: 50% 50%;
    color: #ffffff;
}

.top {
    margin: 10%;
    text-align: right;
}

.top p {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.bottom .icons {
    position: absolute;
    bottom: 0;
    margin: 3%;
    width: 75%;
}

.bottom .icons li {
    display: inline;
    color: #B1B1B1;
    font-size: 1.5vw;
    margin-right: 1vw;
}

.fa {
    color: #b1b1b1;
}

#logo {
    top: 6%;
    left: 6%;
    position: absolute;
    height: 60px;
    width: 60px;
}

#main {
    background: #111;
    right: 0;
    top: 0;
    position: absolute;
    width: 80%;
    height: 90%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

#footer {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 80%;
    height: 10%;
    background: #004D40;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , yellow); /* Standard syntax */
}
}

#posts {
    position: absolute;
    height: 30%;
    width: 97%;
    overflow: auto;
    margin: 1.5%;
    background: #00796B;
}

#posts div {
    position: relative;
    margin: 2%;
    color: #111;
}

#media {
	position: absolute;
	margin: 1.5% 1.5% 1.2% 1.5%;
	height: 60%;
	width: 97%;
	background: #00796B;
	bottom: 0;
}

#Call {
    margin: 10%;
    margin-top: 1%;
}

.tag-search {
    margin: 10%;
    margin-bottom: 2%;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}

input:focus,
input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.clicked {
    height: 90%;
}
