<!DOCTYPE HTML>
<html>

<head>
    <title>Curious - The Real News</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
    <!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
</head>

<body>
    <div id="header">
        <div class="top">
            <div id="logo">
                <div class="a"><span>C</span></div>
            </div>
            <h1 id="title">Curious</h1>
            <p class="subheading">Your Guide to Real News</p>
        </div>
        <div class="filter">
            <span>Basic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input class='toggle' type="checkbox" name='check-1' />
            <span>Streets &nbsp;</span>
            <input class='toggle' type="checkbox" name='check-2' />
            <span>Emerald</span>
            <input class='toggle' type="checkbox" name='check-3' />
            <span>Bright &nbsp;&nbsp;&nbsp;</span>
            <input class='toggle' type="checkbox" name='check-4' />
            <span>Light &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input class='toggle' type="checkbox" name='check-5' checked='checked' />
            <span>Dark &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input class='toggle' type="checkbox" name='check-6' />
        </div>
        <input class="tag-search" placeholder="Search" type="text" required="">
        <button id="Call">Search</button>
        <div class="bottom">
            <ul class="icons">
                <li>
                    <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-github"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-dribbble"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-envelope"></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="map">
        </div>
    </div>
    <div id="footer">
        <div id="posts"></div>
        <div id="media"></div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/map.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
